.carousel-item img
{
    height: 236px;
}
.box_1
{
    width: 236px;
}
.end
{
    background-color: rgba(0, 0, 0, 0.4);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    color: maroon;
    font-style: italic;
}
.img
{
    max-width: 100%;
}
.body
{
    background: #fff;
}